%h1
  If you've listened to
  = succeed ", you might also like..." do
    = link_to @sub_topic.name, sub_topic_path(@sub_topic)

.well
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th SubTopic
        %th Listens
    %tbody
      - @recommendations.each do |subtopic_id, listens|
        - sub_topic = SubTopic.find_by_subtopic_id subtopic_id
        %tr
          %td= link_to sub_topic.name, sub_topic
          %td= listens

= paginate @recommendations